* { box-sizing: border-box; }
body { margin: 0; }
:root {
  --main-color: #2D1674;
  --secondary: #FFF2FF;
  --tertiary: #703ACF;
}

/* Site Header Items */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary);
  padding: 10px;
  color: var(--secondary);
}
.site-header > address a { color: var(--secondary); }

/* Site Content Items */
.site-content { 
  display: flex;
  height: calc(100vh - 40px);
  font-family: Arial, Helvetica, sans-serif;
}

.side-nav {
  position: relative;
  overflow: scroll;
  background-color: var(--main-color);
  width: 25%;
  color: var(--secondary);
}

.reference {
  overflow: scroll;
  background-color: var(--secondary);
  padding: 0 10px;
  width: 75%;
  color: var(--main-color);
}

@media (max-width: 992px) {
  .site-content { 
    flex-direction: column;
    height: 100%; 
  }
  .side-nav, .reference { width: 100%; }
}

/* Side Navigation items */
.ref-nav { padding: 10px; }
.ref-nav h2 { margin: 0; }
.ref-nav ul {
  padding: 0;
  list-style-type: none;
  user-select: none;
}
.ref-nav ul > li {
  padding-left: 20px;
  cursor: pointer;
}
.ref-nav ul > li:hover {
  background-color: var(--secondary);
  color: var(--main-color);
}

.nav-menu {
  display: none;
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: var(--main-color);
  margin: 0;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  list-style: none;
}
#toggle-nav { margin-bottom: 10px; }
#directory-search {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  color: var(--main-color);
  accent-color: var(--main-color);
}

.directory {
  display: none;
  margin: 10px;
}
.category-title { margin: 0; }
.term-bubble {
  background-color: var(--tertiary);
  margin: 10px 0;
  border: 2px solid var(--tertiary);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.term-bubble:hover { border-color: var(--secondary); }
.term { font-weight: bold; }
.def {
  overflow: hidden;
  margin-left: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* reference items */
.reference { padding: 0; }

.reference-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  margin: 0;
  padding: 10px;
  list-style: none;
}
.menu-item { height: 20px; }
.menu-button {
  background-color: var(--tertiary);
  border: 2px outset var(--tertiary);
  border-radius: 10px;
  padding: 0 5px;
  color: var(--secondary);
  text-decoration: none;
  font: normal 600 12px "Segoe UI", sans-serif; 
  cursor: pointer;
}
.menu-button:active:not(:disabled) { border-style: inset; }
.menu-button:disabled { 
  filter: grayscale(100%); 
  cursor: not-allowed;
}

.reference-header { text-align: center; }
#ref-mod { font-style: italic; }
#ref-info { padding: 0 10px; }

/* form dialog box items */
.form-dialog {
  overflow: scroll;
  background-color: var(--main-color);
  border: 3px ridge var(--tertiary);
  border-radius: 10px;
  height: 80%;
  color: var(--secondary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-dialog::backdrop {
  background-image: radial-gradient(circle, var(--main-color), var(--tertiary), var(--secondary));
  opacity: 0.75;
}
.reference-fields {
  display: table;
  background-color: var(--tertiary);
  border: 3px inset var(--tertiary);
  border-radius: 10px;
  border-spacing: 10px;
}
.reference-fields legend {
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
.reference-fields .input-row { display: table-row; }
.reference-fields .input-row > label { display: table-cell; }
.reference-fields .input-row > *:not(label) { 
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 3px 5px;
  color: var(--main-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  accent-color: var(--tertiary);
}
#close-form { float: right; }