/* https://www.canva.com/colors/color-palettes/october-skies/ 
#9271C2 - special
#2D1674 - 30
#FFF2FF - 60
#703ACF - 10
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF2FF;    
    margin: 0;
    padding: 5px 20px;
    height: 100%;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2D1674;
    margin: 0;
    border: 5px inset #703ACF;
    padding: 8px;
    width: 200px;
    height: 100%;
    color: #FFF2FF;
    overflow: scroll;
    overscroll-behavior: contain;
    z-index: 1;
}
.nav-ctrl {
    margin: 15px 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    gap: 1em;
}
#nav-toggle {
    float: right;
}
.nav-item {
    background-color: #703ACF;
    margin: 15px 0;
    border: 1px outset;
    user-select: none; 
    cursor: pointer;
}
.nav-list {
    background-color: #FFF2FF;
    margin: 5px;
    padding: 5px;
    max-height: 10rem;
    overflow: scroll;
    list-style-type: none;
    gap: 1em;
    overscroll-behavior: contain;
}
.nav-list li { 
    margin: 2px;
    padding-left: 2px;
    color: #2D1674 ;
}
.nav-list li:hover {  
    background-color: #2D1674;
    color: #FFF2FF;
}
footer {
    background-color: #2D1674;
    height: 25px;
    color: #FFF2FF;
    text-align: center;
}
.standard {
    color: #FFF2FF;
    text-align: center;
}
.creator {
    margin-top: 15px;
    float: right;
}

.reference {
    margin-left: 200px;
    width: calc(100vw-200px);
    height: 500px;
}

.directory {
    overflow: scroll;
    height: 100%;
    counter-reset: category-count;
}

.ref-search {
    margin: 10px;
    text-align: center;
}
#dir-search {
    border: double;
    width: 50%;
    font-size: larger;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.category h2 {
    width: 100%;
    text-align: center;
}
.category h2::before {
    counter-increment: category-count;
    content: counter(category-count) ". ";
}
.category .term {
    flex-basis: 30%;
    border: 1px solid gray;
    overflow-wrap: break-word;
    text-align: center;
    cursor:zoom-in;
}
.category .term:hover {
    opacity: 75%;
    background-color: aliceblue;
    border-radius: 10px;
}
.category .cmd {
    font-weight: bold;
}
.category .def {
    margin-left: 0px;
}

#details {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 80%;
}
article {
    overflow: scroll;
    text-align: center;
}