/* https://www.canva.com/colors/color-palettes/october-skies/ 
#9271C2 - special
#2D1674 - 30
#FFF2FF - 60
#703ACF - 10
*/

* {
    box-sizing: border-box;
    color: #2D1674;
}

body {
    margin: 0;
    background-color: #FFF2FF;    
    height: 100%;
}

.site-nav {
    display: inline-block;
    background-color: #703ACF;
    margin: 0;
    padding: 8px;
    width: 100%;
    height: 36px;
}
.site-link {
    margin: 0;
    border: 5px solid #703ACF;
    padding: 0 5px;
    color: #FFF2FF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
} .site-link:hover { border: 5px double #FFF2FF; }

.ref-nav {
    display: flex;
    background-color: #2D1674;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 30px;
    list-style-type: none; 
    gap: 1em;
} .ref-nav li { color: #FFF2FF; } 
.ref-title {
    margin: 0;
    padding: 0 20px;
    height: 34px;
}

.reference {
    border: solid 1px yellow;
    margin: 0;
    width: 100%;
    height: 500px;
}

.directory {
    overflow: scroll;
    height: 100%;
    counter-reset: category-count;
}

.ref-search {
    margin: 10px;
    text-align: center;
}
#dir-search {
    border: double;
    width: 50%;
    font-size: larger;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.category h2 {
    width: 100%;
    text-align: center;
}
.category h2::before {
    counter-increment: category-count;
    content: counter(category-count) ". ";
}
.category .term {
    flex-basis: 30%;
    border: 1px solid gray;
    overflow-wrap: break-word;
    text-align: center;
    cursor:zoom-in;
}
.category .term:hover {
    opacity: 75%;
    background-color: aliceblue;
    border-radius: 10px;
}
.category .cmd {
    font-weight: bold;
}
.category .def {
    margin-left: 0px;
}

#details {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 80%;
}
article {
    overflow: scroll;
    text-align: center;
}

footer {
    background-color: #9271C2;
    width: 100%;
    height: 25px;
    color: #FFF2FF;
}
.standard {
    color: #FFF2FF;
    text-align: center;
}
.creator {
    float: right;
    color: inherit;
}